In [ ]:
Name="Yash Kulkarni"
Roll_No=9134

In [1]:
A=["A","B","C","D"]
B=("A","B","C","D")

Adding "Z" to the list

In [2]:
print(A)
A.append("Z")
print(A)

### Tupples cannit be modified

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 'Z']

Replacing "B" with "H" in the list

In [4]:
print(A)
A[1]="H"
print(A)

['A', 'B', 'C', 'D', 'Z']
['A', 'H', 'C', 'D', 'Z']

Creating copy of the list

In [5]:
print(A)
A1=A.copy()
print(A1)

### Tupples cannot be copied

['A', 'H', 'C', 'D', 'Z']
['A', 'H', 'C', 'D', 'Z']

Clearing the copy of the list

In [6]:
A1.clear()
print(A1)

[]

Adding "M" in 2nd position in the list

In [8]:
print(A)
A.insert(1,"M")
print(A)

['A', 'H', 'C', 'D', 'Z']
['A', 'M', 'H', 'C', 'D', 'Z']