In [ ]:
Name="Yash Kulkarni"
Roll_No=9134

If Condition

In [ ]:
a=33
b=20
if b<a:
  print("b is less than a")

b is less than a

In [ ]:
a=6
b=6
if a>b:
  print("a is greater than b")

  ### since the value of a & b is same therefore there is no result

In [ ]:
a=6
b=6
if a>=b:
  print("a is greater than or equal to b")

a is greater than or equal to b

In [ ]:
if a<b:
  print("abc")
print(123)

  ### print("abc") is the part of if function, the condition isn't satisfied there is no result. print(123) isn't the part of if function

123

If else

if
  body of if
else
  body of else

In [ ]:
n=-9
if n>0:
  print("Positive Number")
else: 
  print("Negative Number")

Negative Number

If elif else

In [ ]:
num=-1
if num>0:
 print("positive")
elif num==0:
 print("zero")
else:
 print("negative")

negative

Example

In [ ]:
marks=[90,80,70]
for i in marks:
 if i==90:
  print("you can take Science")
 elif i==80:
  print("you can take Commerce")
 else: 
  print("you can take Arts")

you can take Science
you can take Commerce
you can take Arts

In [ ]:
marks=int(input())
c=[90,80,70]
for i in c:
 if i>80:
  print("you can take science")
 elif i>70:
  print("you can take commerce")
 else:
  print("you can take arts")

85
you can take science
you can take commerce
you can take arts