In [ ]:
Name="Yash Kulakarni"
Roll_No=9134

Sets

In [1]:
d1={"Name":"Yash","Class":"TY","Roll No":9134,"Result":"Distinction"}
print(d1)
d1["Result"]

{'Name': 'Yash', 'Class': 'TY', 'Roll No': 9134, 'Result': 'Distinction'}

'Distinction'

get()

In [2]:
d1.get("Roll No")

9134

Change Value

In [3]:
d1["Class"]="TYBSc"
print(d1)

{'Name': 'Yash', 'Class': 'TYBSc', 'Roll No': 9134, 'Result': 'Distinction'}

Extract Keys

In [4]:
d1.keys()

dict_keys(['Name', 'Class', 'Roll No', 'Result'])

Extracy Values

In [6]:
d1.values()

dict_values(['Yash', 'TYBSc', 9134, 'Distinction'])

Extrcat both keys & values

In [7]:
d1.items()

dict_items([('Name', 'Yash'), ('Class', 'TYBSc'), ('Roll No', 9134), ('Result', 'Distinction')])

Nested Dictionary

In [18]:
mymovie={
    "actor1" : {
        "name" : "ntr",
        "year" : 1983
    },
    "actor2" : {
        "name" : "ramcharan",
        "year" : 1985
    }
}
print(mymovie)

{'actor1': {'name': 'ntr', 'year': 1983}, 'actor2': {'name': 'ramcharan', 'year': 1985}}

In [22]:
{"child1." : {"name":"x","year":1}}
{"child2." : {"name":"y","year":2}}
{"child3." : {"name":"z","year":3}}
my_family={"c1":"child1.","c2":"child2.","c3":"child3."}
print(my_family)

{'c1': 'child1.', 'c2': 'child2.', 'c3': 'child3.'}