In [40]:
def f2():
    # globle X 
    X="Yash"
    print("My name is", X)
f2()

My name is Yash

In [ ]:
Y="Easy"
def f1():
  # globle Y
  x1="easy123"
  print("Python is ", x1)
  print("Python is ", Y)
  f1()

To see the type of the variables

In [42]:
x, y, z = 5, "Good Day!", "global"
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

5
<class 'int'>
Good Day!
<class 'str'>
global
<class 'str'>

In [43]:
x=9
print(x)
print(type(x))
complex(x)

9
<class 'int'>

(9+0j)

Addition of string variables

In [44]:
"Yash"+"Kulkarni"

'YashKulkarni'

Converting the types of variables

In [45]:
Name="Yash"
Sirname="Kulkarni"
print(Name + Sirname)
a=2.3
b=312
c=3J
print(int(a))
print(float(b))
print(complex(a))
print(complex(b))

YashKulkarni
2
312.0
(2.3+0j)
(312+0j)

Input function

In [46]:
a=input()
a

951

'951'

In [47]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [50]:
a="Hi how are you? from where their"
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("o","j"))
print(a.split("o"))

Hi how are you? from where their
hi how are you? from where their
HI HOW ARE YOU? FROM WHERE THEIR
Hi hjw are yju? frjm where their
['Hi h', 'w are y', 'u? fr', 'm where their']

.format function

In [51]:
age=20
txt="My name is Yash, & I'm {}"
print(txt.format(age))

My name is Yash, & I'm 20

In [53]:
quantity=10
item="Bread"
price=12
myorder="I want {} pieces of {} for {} rupees"
print(myorder.format(quantity,item,price))

I want 10 pieces of Bread for 12 rupees

In [55]:
name=input()
age=input()
"My name is {} & I'm {} years old".format(name,age)

Yash
20

"My name is Yash & I'm 20 years old"

In [57]:
name=input()
age=input()
Class=input()
clg=input()
"My name is {} , I'm {} years old , I study in {} in {}".format(name,age,Class,clg)

Yash
20
TY
SPC

"My name is Yash , I'm 20 years old , I study in TY in SPC"

In [61]:
name=input("Enter your name ",)
age=input("Enter your age ",)
Class=input("Ënter your class ",)
clg=input("Enter your college name ",)
"My name is {} , I'm {} years old , I study in {} in {} ".format(name,age,Class,clg)

Enter your name Yash
Enter your age 20
Ënter your class TYBSc
Enter your college name SP College

"My name is Yash , I'm 20 years old , I study in TYBSc in SP College  "

In [62]:
quantity=10
item="Bread"
price=12
country="Indian"
myorder="I want {c} pieces of {b} for {d} rupees. Ruppes is {a} currency"
print(myorder.format(a=country,b=item,c=quantity,d=price))

I want 10 pieces of Bread for 12 rupees. Ruppes is Indian currency