In [ ]:
Name="Yash Kulkarni"
Roll No="9134"

Collections od data types
- List []
- Tupples ()
- Sets {}

In [2]:
a="Yash"
b="Kulkarni"
c=["Yash","Prashant","Himanshu"]
print(type(a))
print(a)
print(type(c))
print(c)

<class 'str'>
Yash
<class 'list'>
['Yash', 'Prashant', 'Himanshu']

In [3]:
names=["mean","median","mode","variance","skewness"]
print(names[3])
print(names[1:4])
print(names[2:])

variance
['median', 'mode', 'variance']
['mode', 'variance', 'skewness']

Nested List

In [4]:
mylist=[1,2,3,["a","b",[5,6]]]
print(mylist)
print(mylist[3])

[1, 2, 3, ['a', 'b', [5, 6]]]
['a', 'b', [5, 6]]

append = add an element at the end of the list

In [5]:
print(names)
names.append("kurtosis")
print(names)

['mean', 'median', 'mode', 'variance', 'skewness']
['mean', 'median', 'mode', 'variance', 'skewness', 'kurtosis']

copy = returns a copy of the list

In [6]:
print(names)
name1=names.copy()
print(name1)

['mean', 'median', 'mode', 'variance', 'skewness', 'kurtosis']
['mean', 'median', 'mode', 'variance', 'skewness', 'kurtosis']

count = returns the no. of elements with the specified value

In [7]:
print(names.count("mode"))
x=names.append("mode")
print(names.count("mode"))

1
2

del = delete list

In [8]:
print(name1)
del name1
print(name1)

['mean', 'median', 'mode', 'variance', 'skewness', 'kurtosis']

NameError: ignored

extend = add the element of a list (or any iterable) to the end of the current list

In [9]:
capital=["A","B","C"]
small=["a","b","c"]
print(capital)
capital.extend(small)
print(capital)

['A', 'B', 'C']
['A', 'B', 'C', 'a', 'b', 'c']

index = returns the index of the first element with the specified value

In [12]:
print(small.index("b"))
print(small.index("c"))

1
2

sort = sorts the list

In [11]:
names.sort()
print(names)

['kurtosis', 'mean', 'median', 'mode', 'mode', 'skewness', 'variance']

In [21]:
t1=(1,5,9,2,6,0)
t2=("one","five","nine","two","six","zero")
print(t1)
print(t2)

(1, 5, 9, 2, 6, 0)
('one', 'five', 'nine', 'two', 'six', 'zero')

access

In [22]:
print(t1[2:])
print(t2[:5])

(9, 2, 6, 0)
('one', 'five', 'nine', 'two', 'six')