In [ ]:
Name="Yash Kulkarni"
Roll_No=9134

Lists

In [16]:
A=["Yash","Kulkarni",20,"Student"]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Yash', 'Kulkarni', 20, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [17]:
a=("Yash","Kulkarni",20,"Student")
b=("SP College","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Yash', 'Kulkarni', 20, 'Student')
('SP College', 'Autonomous', 'Sadashiv Peth', 411030)

In [18]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Yash', 'Kulkarni']
['Sadashiv Peth']
20
411030

Class

In [20]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [21]:
print(A)
A1=A.copy()
print(A1)

### Tupples cannot be copied

['Yash', 'Kulkarni', 20, 'Student']
['Yash', 'Kulkarni', 20, 'Student']

Append

In [23]:
print(B)
B.append("Autonomous")
print(B)

### TUpples cannot be changed

['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous', 'Autonomous']

Count

In [24]:
print(A.count("Yash"))
A.append("Yash")
print(A.count("Yash"))

1
2

Delete list

In [25]:
print(A1)
del A1
print(A1)

### List A1 is deleted therefore it is showing error

['Yash', 'Kulkarni', 20, 'Student']

NameError: ignored

Extend

In [26]:
print(A)
print(B)
A.extend(B)
print(A)

['Yash', 'Kulkarni', 20, 'Student', 'Yash']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous', 'Autonomous']
['Yash', 'Kulkarni', 20, 'Student', 'Yash', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous', 'Autonomous']

Index

In [27]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

2
6

Sort

In [31]:
K=["D","A","C","B"]
print(K)
K1=[4,2,1,3]
print(K1)
K.sort()
K1.sort()
print(K)
print(K1)

### For sorting all the elements in the list should be of same type

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [32]:
print(K[:2])
print(K1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [34]:
ABlist=["Yash","SP COllege",[20,411030]]
print(ABlist)
print(ABlist[2])

['Yash', 'SP COllege', [20, 411030]]
[20, 411030]