In [ ]:
Name="Yash Kulkarni"
Roll_No=9134

Q1. Write a Python User Define Function to reverse a string.

In [ ]:
def reverse1(s):
  str1= ''
  for i in s:
    str1=i + str1 
  return str1
reverse1("Python")

'nohtyP'

Q2. Write a Python min_max function which will return Min, Max of 4 inputs from the user.

In [ ]:
def min_max(A,B,C,D):
  print("The Maxmimum value from the input values is: ", max(A,B,C,D))
  print("The Minimum value from the input values is: ", min(A,B,C,D))
  
a, b, c, d = input("Enter four values to find minimum and maximum value separated by space: ").split()

min_max(a,b,c,d)

Enter four values to find minimum and maximum value separated by space: 9 0 5 1
The Maxmimum value from the input values is:  9
The Minimum value from the input values is:  0

Q3. Write a Python function to sum 4 inputs from the user.

In [ ]:
def Sum(A,B,C,D):
  sum = A+B+C+D
  print("The Sum of the input vlaues is: ", sum)

a, b, c, d =list(map(float, input("Enter four values to find sum of them separated by space: ").split()))

Sum (a,b,c,d)

Enter four values to find sum of them separated by space: 1 2 3 4
The Sum of the input vlaues is:  10.0

Q4. Find out the Command which will return you number of local variables from the user define function.

In [ ]:
print(function_name.__code__.co_nlocals)

NameError: ignored

Q5. Write Python Function to get even number from the list. List len must be equal to 8.

In [ ]:
list1 = list(map(float, input("Enter a list of 8 elements separated by space: ").split()))
even_no = [num for num in list1 if num % 2 == 0]
print("Even no : ", even_no)

Enter a list of 8 elements separated by space: 1 2 3 4 5 6 7 8
Even no :  [2.0, 4.0, 6.0, 8.0]